* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.ww {
    color: #1C2559;
}

.ee {
    color: #c06414;
}

video {
    box-shadow: 6px 6px 13px 0px rgb(0, 0, 0);
}

.video video {
    background-size: cover;
}

#quemsomos img {
    max-width: 500px;
    border-radius: 15px;
}

picture#quemsomos p {
    margin: 5px;
}

div {
    display: block;
}

picture#logoWhatsapp a {
    color: rgb(105, 155, 90);
}

picture#logoWhatsapp number {
    color: white;
    margin: 10px;
    font-size: smaller;
}

picture#logoWhatsapp img {
    width: 35px;
}

#logoWhatsapp {
    display: flex;
    justify-content: end;
    margin: auto;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    align-items: center;
    justify-content: center;
    text-align: center;
}

#absolutWhatsapp img {
    max-width: 85px;
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 15px;  
}

article#feed ul img {
    max-width: 20px;
    border-radius: 25px;
}

li {
    display: inline-block;
    padding: 10px;
}

.ooo {
    margin: auto;
}

header button#entreEmContrato {
    width: 200px;
    float: right;
}

header picture#logoADV {
    justify-content: baseline;
    align-items: baseline;
}

header picture#logoADV img {
    max-width: 500px;
}

footer picture img {
    max-width: 400px;
}

header p {
    color: white;
}

#janela p {
    margin-top: 20px;
}

.interface {
    max-width: 1100px;
    margin: auto;
    align-items: center;
}

header {

    background-color: #262626;
    text-align: center;
    padding: 15px;
}

footer {
    background-color: #262626;
    color: white;
    padding: 5px;
    font-size: small;
    justify-content: center;
    align-items: center;
}

footer h1,
p {
    font-size: small;
}

.imagem {
    display: flex;
    max-width: 900px;
    background-color: #c0641425;
    border-radius: 25px;
}

.imagem p {
    max-width: 500px;
}

#numberInterface {
    color: green;
}

body#bem-vindo {
    background-image: url("img/fdbemVindo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box2 {
    padding: 25px;
}

section#vindo {
    background-color: rgba(128, 128, 128, 0.459);
    border-radius: 25px;
    padding: 20px;
    color: white;
    padding: 25px;
}

section#vindo button {
    color: #c06414;
    height: 50px;
    border-radius: 10px;
    margin: 5px;
}

.boxbtn {
    text-align: center;
}

.btn {
    padding: 25px 25px;
}


.btn img {
    margin: 10px;
    border-radius: 15px;
    max-height: 55px;
}

.logozinhaWP {
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #1C2559;
    border-radius: 25px;
    margin: 5px;
}

.logozinhaWPflex {
    max-width: 100px;
}

.logozinhaWP label {
    color: #c06414;
}

button {
    border-radius: 25px;
    background-color: #1C2559;
    color: white;
}

aside {
    padding: 20px;
}

img {
    display: block;
}

picture img {
    border-radius: 25px;
}

img {
    width: 100%;
}

legend {
    margin: 10px;
    background-color: #091740;
    border: 7px black solid;
    border-radius: 25px;
    color: white;
}

.funcionarios3 {
    margin-top: 20px;
}

.funcionarios2 {
    display: block;
    justify-content: center;
    align-items: center;
}

.funcionarios02 img {
    display: block;
    box-shadow: 0px 5px 5px;
    margin-top: 20px;
    max-width: 380px;
}

legend {
    max-width: 300px;
}

legend number {
    color: green;
}

input {
    display: block;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.colunaFooter {
    display: flex;
    padding: 5px;
}

.colunaFooter section {
    /* width: 100%; */
}

div#assine {
    max-width: 300px;
}

div#subFooter {
    max-width: 300px;
}

section {
    justify-content: center;
    align-items: center;
}

article {
    max-width: 900px;
    margin: auto;
}

article#feed img {
    max-width: 80px;
}

article#feed h1 {
    margin-top: 20px;
}

article#feed p {
    text-align: center;
}

picture img#plat {
    display: flex;
    margin: auto;
}

img#plat {
    margin: 20px;
    width: 50px;
}

img#plat1 {
    max-width: 300px;
}

.iframe {
    display: block;
}

iframe {
    width: 100%;
    height: 100vh;
}

picture#maps {
    padding: 25px;
}

article#subFeed h3 {
    margin-top: 25px;
    margin-left: 25px;
    margin-bottom: 15px;
}
#topp img {
    position: fixed;
    max-width: 65px;
    bottom: 0;
}
h1, p {
margin: 10px;
}